@import "variables";
@import "mixins";

*{
@include defaultStyles;
}
body{
    direction: rtl;
    text-align: right;
    background-color: $bodyColor;  
}
header{
    background-color: $primaryColor;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;

    h2{
        color: $secondaryColor;
    }
    .menu-icon{
        color: $secondaryColor;
        display: none;
    }
}

.navbar{
    display: flex;
    justify-content: space-between;
    img{
        width: 70px;
        height: 70px;
        border-radius: 50%;
    }
    ul{
    display: flex;

    li{
        padding: 5px 10px;
        align-self: center;

        a{
            @include textStyle($secondaryColor , bold , 1rem);
            transition: all .15s ease-in;
            &:hover{
             color: $blackColor;
            }
        }
    }
}
}

.main{
    display: flex;
    justify-content: space-between;
    background-color: $bodyColor;
    // margin: 2rem 3rem;
    img{

        @include imgStyles(300px , 10px , 300px)
      }
      aside{
        width: 25%;
       @include bodyStyle;
       flex-direction: column;
        padding: 5px 1rem;
     margin-left: 2rem;
      
     p{
        @include boxStyle;
        background-color: $primaryColor;
        color: $secondaryColor;
     }
      }
      
}
main{
    @include bodyStyle;
    width: 75%;
    flex-direction: column;
    img{
        @include boxStyle;

    }
    h3{
        background-color: $primaryColor;
        @include textStyle($secondaryColor , bold , 2rem);
        padding: 8px 15px;
        margin: 5px 0;
        border-radius: 8px;
    }
    p{
        @include textStyle($blackColor , 100 , 1rem);
        margin-top: 10px;
    }
  }

  .cards{
    background-color: $bodyColor;
    display: flex;
    overflow: scroll;
    margin:  20px auto;
    .card{
        @include boxStyle;
        background-color: $secondaryColor;
        img{
            width: 100%;
        }
        h4{
            @include textStyle($primaryColor , bold , 1rem);
            margin: 8px 0;
        }
        p{
            @include textStyle($blackColor , 100 , 1rem);

        }
        span{
            @include textStyle($secondaryColor , bold , 1rem);
            background-color: $primaryColor;
            border-radius: 8px;
            padding: 8px;
            text-align: left;
            margin-top: 12px;
            display: inline-block;
            transition: all .15s ease-in;
            &:hover{
                background-color: $secondaryColor;
                color: $primaryColor;
            }
        }
    }
  }

@include media(M){
    header {
        .menu-icon{
            display: flex;
        }
    }
    .navbar{
        display: none;
}

.main{
    flex-direction: column-reverse;
    width: 100%;
    padding: 0 2rem;
    margin: 40px 0;
    justify-self: stretch;
    align-self: stretch;
    aside{
        width: 100%;
        margin-top: 40px;
        justify-content: space-around;
    }
}
main{
   width: 100%;
   margin: 0 auto;
    img{
        width: fit-content;

    }
}

.cards{
    flex-direction: column;
}

}